{% load static %}
<!-- Footer start -->
<footer class="landing-footer">
    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-6 text-center">
                <p class="mb-2">2021 - {% now 'Y' %} © PROJECT</p>
                <p> The easy way to transcribe your audio to text. With A2TC you can automatically: transcribe, Upload Audio, and voiceover your audio files into two languages, so you can reach millions more people all over the world. </p>
            </div>

        </div>
    </div>
    <!-- end container -->
</footer>
<!-- Footer end -->